/* Reiniciar el navegador para evitar diferencias de estetilos*/
*{
   box-sizing: border-box;  
   margin: 0;
   padding: 0;
}

/* Estilos generales deel cuerpo de la pagina*/
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background: rgb(106, 70, 121);
    color: rgb(0, 0, 0);
}

/*Estilo para el encabezado con degradado*/
.site-header{
    background: linear-gradient(90deg, #4f46e6,#06b6d4);
    color: rgb(0, 0, 0);
    padding: 1rem;
    text-align: center;
}
